<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>

  <!-- ////////////////////////// google Ads -->
  <!-- Global site tag (gtag.js) - Google Ads: 836620666 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-836620666"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-836620666');
</script>

<!-- Event snippet for Papirus-Laudario | Visualização de página | 90d conversion page -->
<script>
  gtag('event', 'conversion', {'send_to': 'AW-836620666/gm-ACI2ugtABEPqi944D'});
</script>

<!-- ////////////////////////////// fim google ADs -->

</head>


<body>

    <nav class="navbar navbar-expand-lg  pb-4 mb-1 pt-4">
        <a class="navbar-brand" href="/">PAPIRUS-LAUDARIO</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
            </li>

        
            <!-- //////////// tomografia -->
            <li class="nav-item ml-5 ">
                <a id="btnTomografia" class="nav-link" href="#">Tomografia</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  
                </a>
                <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Frases Abdomen</a>
                  <a class="dropdown-item" href="#">---</a>
                </div>
              </li>
            

              <!-- /////////////////// Ressonância -->
            <li class="nav-item mr-2 ml-2">
                <a id="btnRessonancia" class="nav-link" href="#">Ressonância</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  
                </a>
                <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Tomografia: Frases Abdomen</a>
                  <a class="dropdown-item" href="#">---</a>
                </div>
              </li>

              <!-- /////////////////////////////////// usg -->
            <li class="nav-item mr-2 ml-2">
                <a id="btnUltrassonografia" class="nav-link" href="#">Ultrassonografia</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  
                </a>
                <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Frases: Abdomen</a>
                  <a class="dropdown-item" href="#">---</a>
                </div>
              </li>

              <!-- //////////////////////////// radiografia s
            <li class="nav-item mr-2 ml-2">
                <a class="nav-link" href="/sobre" >Radiografia </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  
                </a>
                <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Tomografia: Frases Abdomen</a>
                  <a class="dropdown-item" href="#">---</a>
                </div>
              </li> -->

              <!-- /////////////////////// Densitometria -->
            <!-- <li class="nav-item mr-2 ml-2">
                <a class="nav-link" href="/sobre" >Densitometria </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  
                </a>
                <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Tomografia: Frases Abdomen</a>
                  <a class="dropdown-item" href="#">---</a>
                </div>
              </li> -->

              <!-- /////////////////////////////////////// -->
            <li class="nav-item pl-2 ml-5">
                <a id="lista_card"class="nav-link" href="#"> Lista </a>
            </li>
            <li class="nav-item pl-2 ml-5">
                <a class="nav-link" href="/sobre">Sobre o Dr Hercilio Fleury</a>
            </li>



          </ul>           
        </div>
    </div>

    </nav>

    <!-- <input id="areaTransferencia" type="text" class=""  > -->
    <textarea id="areaTransferencia" name="" ></textarea>


    <!-- ////////////// input  -->
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Filtro de Itens ( Coluna 2 ) </span>
      </div>
      <input id="myInput" class="pl-3 w-50" type="text" class="form-control" placeholder="Fitro de itens na coluna 2" aria-label="Digite o título dos laudos " aria-describedby="basic-addon1">
    </div>
    
    <script>
      $(document).ready(function(){
        $("#myInput").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#tbBody tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });
   </script>
      

    <!-- /////////////////////////////////////// fim nav -->

    <div class="container-fluid mt-5">
        <div class="row">
          <div id="coluna1"class="col-sm-12 col-md-4 col-lg-3">
            <!-- One of three columns -->
            
          </div>
          <div id="coluna2" class="col-sm-12 col-md-4 col-lg-6">
            
            <!-- div -->
         </div>

          <div id="coluna3"class="col-sm-12 col-md-4 col-lg-2">
            <!-- One of three columns -->
                       
          </div>
        </div>
      </div>
    
      <div class="mt-5 mb-5 pt-5 pb-5"><hr></div>

</body>

<h5><b></b></h5>

<style>


*{
    box-sizing: border-box;
}

nav{
    background: rgb(13,71,161);
    background: linear-gradient(90deg, rgba(13,71,161,1) 0%, rgba(25,118,210,1) 77%, rgba(21,101,192,1) 100%);
    
}

nav a.navbar-brand {
    color:white
}

li a {
    font-weight: 800;
    color:white;
}

li a:hover {
    color:azure
}

nav a.dropdown-item{

  font-size: medium;
  font-weight: 800;

}

nav a.dropdown-item:hover {

    background: rgb(13,71,161);
    background: linear-gradient(90deg, rgba(13,71,161,1) 0%, rgba(25,118,210,1) 77%, rgba(21,101,192,1) 100%);
    color: white;


}

div.dropdown-menu {

  background-color: white;

}



div.card{

    width: 45%;
    display: inline-block  !important;
    margin: 2%;
}

#coluna1 button{
    
    border: 2px solid steelblue;
    font-weight:500;

}

#coluna1 button:hover{
    
    background-color: rgba(1, 65, 161, 0.8);
    color: white;
    

}


span.input-group-text {

  background: rgb(13,71,161);
    background: linear-gradient(90deg, rgba(13,71,161,1) 0%, rgba(25,118,210,1) 77%, rgba(21,101,192,1) 100%);
    color: white;
    font-weight: 600;

}

div.card:hover{
    -webkit-box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.75);
}

#coluna2 a {

    color: white;
}

#areaTransferencia{

    color: white;
    font-size: smaller;
    border: white;
    background-color: white;
    width: 1px;
    height: 1px;
    max-height: 1px;
    max-width: 1px;
    cursor: context-menu;
    
}

#coluna2 a{

    width: 42%;
    align-items: center;
    margin-left: 3%;
    font-size: 14px !important;
       
}

/* //// evitar de aparecer na coluna o botao quando nao tem exame "Sem exame" */


#coluna2 a[title="sem exame"]{

    background-color:white!important;
    border-color: white;
    cursor:default;
    pointer-events: none;

}


#coluna2 button[title="sem exame"]{

background-color:white!important;
border-color: white;
cursor:default;
pointer-events: none;

}



/* /////////// MUDA O ASPECTO DA lista_card QUE MUDA A INSERCAO NA COLUNA 2 */




</style>


<!-- ///////////////////// -->

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="laudario.js"> </script>

</html>




