


<%- include("./header") -%>

<!-- col-sm-12 col-md-10 col-lg-9 -->
<!-- class="col-sm-12 col-md-2 col-lg-3  -->

<div class="container">

  <%- include("./jumbotron") -%>
  
    <h4 class="texto p-3">Sobre o Autor do Site Papirus </h4>

    <%- include("./colaboradorArtigo") -%>

  <hr class="mt-3 pb-3">

  <div class="row">

    <!-- /////////////////////// coluna 1 -->
    <div class="col-sm-12 col-md-10 col-lg-9">

        <h5 class="titulo"> <strong > Sobre o Autor </strong> </h5>
        <p> <strong> Sou médico radiologista </strong> formado em medicina em 2010, fiz estágio em radiologia no Hospital Cidade Tiradentes ( OSS Santa Marcelina ) e posteriormente especialização em Ressonância Magnética de Abdomen e Fellow de 2 anos em Músculo Esquelético, ambos na Clínica CURA.</p>
        
             <h5 class="titulo"> <strong > Objetivos </strong> </h5>
        <p> <strong> O objetivo deste site é apresentar a radiologia aos não radiologistas de forma prática e fácil. </strong> Ele tem como meta simplificar a linguagem radiológica para facilitar o entendimento deste público e não tem em nenhum momento o objetivo de esgotar o tema abordado ou mesmo demonstrar todos os achados radiológicos. Portanto todo o artigo é um resumo da literatura médica e dos achados radiológicos para que estes possam ser melhor incorporados a prática dos médicos clínicos ou cirurgiões.</p>

        <p> Resumir os achados radiológicos para que o médico não radiologista e o radiologista iniciante possam compreender quais destes são importantes para o diagnóstico da patologia e demonstrar de maneira clara quais achados são inespecíficos. </p>

        <p>Trazer a minha experiência na interpretação dos achados radiológicos e de seus diagnósticos diferenciais para a melhor compreenção dos médicos em geral.</p>

        <p>Fazer a aprendizagem radiológica menos dolorosa. Hoje a interpretação de imagem se baseia principalmente  
            <a href="walter-Mercado.jpg " data-lightbox="image-1" data-title="Interpretação baseada somente na experiência."> na “experiência do radiologista”</a> , o objetivo da PAPIRUS é que esta         <a href="einstein.jpg " data-title="Interpretação Técnica. " data-lightbox="image-1" >interpretação seja menos pessoal e mais técnica</a>, mais padronizada com consequente correlação de opinião entre os interpretadores.</p>
            
        <h5 class="titulo"> <strong > O que não é Objetivo </strong> </h5>
        <p><strong>Agradar a Todos.</strong> Caso o site não contemple todos os seus objetivos ou a linguagem aqui utilizada não seja do seu agrado, lembre-se que a internet é ampla e você é livre para procurar informações em qualquer lugar que lhe agrade.</p>

        <p><strong>Abordar a totalidade dos problemas em radiologia.</strong> O site tem objetivo resolver o problema de médicos iniciantes e não tem como foco contemplar todos os achados radiológicos nos seus artigos ou mesmo satisfazer médicos com experiência nesta área.</p>

        <h5 class="titulo"> <strong > Visão </strong> </h5>
       <p><strong>Fazer de todo especialista médico, clínico ou cirurgião, um "Mini" radiologista na sua área. </strong></p>
       
                 <h5 class="titulo"> <strong > Sobre a Papirus </strong> </h5>
          <p> <strong> A PAPIRUS nasceu da frustração durante o aprendizado radiológico. </strong> 
          <p>Esta frustração se deve principalmente ao material disponível para o aprendizado radiológico que de uma maneira geral é ruim, pois apenas apresenta os achados de imagem e não informa se estes possibilitam o diagnóstico da patologia estudada ou são inespecíficos.</p>
          <p>Outro grande problema é a pluralidade de achados radiológicos nas imagens, vide por exemplo a quantidade de sequencias da ressonância magnética e que como consequência acabam mais confundindo do que apresentando uma rota para o diagnóstico. Os livros ao invés de apresentarem os achados radiológicos de forma clara nos mostrando quais são pertinentes ao diagnóstico daquela patologia ele apresenta os achados radiológicos de forma “nua e crua”. O problema desta abordagem é a necessidade de experiência que para que estes achados sejam compreendidos de forma adequada e para que se possa discernir as patologias em que é possível o diagnóstico radiológico daquelas em que este achado é inespecífico. </p>
         
          <p>Ou seja, os livros e os artigos ao invés de apresentarem para o público os achados radiológicos como ferramentas para o diagnóstico e quais são mais relevantes caso a caso, simplesmente abordam todos os achados e não demonstram como utiliza-los. A PAPIRUS tem como objetivo facilitar este entendimento e fornecer uma ponte entre o conhecimento radiológico e o médico não radiologista.</p>
        
          <h5 class="titulo"> <strong > Público</strong> </h5>
          <p> <strong> As informações dos artigos ou adquiridas pelo site são apenas para MÉDICOS. 
               </strong> O site se exime de qualquer responsabilidade pelo mal uso das informações tendo ao médico a responsabilidade do uso destas. 
        </p>
        <p> O site não é indicado para uso de pessoas leigas, portanto o mal uso da informação é por conta e risco da pessoa que faz uso destas informações.</p>
        <p>Em nenhum momento as informações e as imagens podem ser usadas para uso comercial, estando revervadas a PAPIRUS. </p>

        <hr class="pt-3 pb-3">

        <h5 class="titulo"> <strong > Curiosidades</strong> </h5>

        <p><strong>Esta site foi construido totalmente por mim ( Dr Hercilio Fleury )</strong> tando o Back End ( Parte do Servidor ), quando do Front End ( Telinha ).</p>

        <p class="mb-2"><strong ><u>Tecnologias utilizadas no FRONT END </u></strong></p>
        <h4><span class="badge badge-primary">HTML </span> <span class="badge badge-primary">CSS </span> <span class="badge badge-primary">JAVASCRIPT </span> </span> <span class="badge badge-primary">BOOTSTRAP </span></span> <span class="badge badge-primary">MATERIALIZE ( Paleta de Cores ) </span> <span class="badge badge-primary">  JQUERY </span></h4>

        <p class="mb-2"><strong ><u>Tecnologias utilizadas no BACK END</u></strong></p>
        <h4><span class="badge badge-primary">EXPRESS JS</span> <span class="badge badge-primary">NODE JS</span> <span class="badge badge-primary">EJS </span> <span class="badge badge-primary">BODY-PARSER </span> <span class="badge badge-primary">PASSPORT JS </span> <span class="badge badge-primary">MONGO DB </span> </h4>

        <p> </p>

    </div>

      

    <!-- ///////////////////////////////// coluna 2 -->
    <div class="col-sm-12 col-md-2 col-lg-3">

        <h6 class="texto mb-3 p-2">Imagens </h6>

        <a href="Hercilio-Fleury.jpg " data-title="Dr Hercilio Fleury na SPR" data-lightbox="image-1" ><img class="img-fluid img-thumbnail" src="Hercilio-Fleury.jpg" alt=""></a>
      

 



    </div>
  
  
  
  </div>

  </div>   

</div>





<%- include("./footer") %>