


<%- include("header") -%>





<div class="container">
  
  <%- include("jumbotron") -%>
  <h4 class="texto p-3">----------- TITULO------- </h4>

    <%- include("colaboradorArtigo") -%>

  <hr class="mt-3 pb-3">
    <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-9">
     <h5 class="titulo"> <strong > Aspectos Gerais </strong> </h5>
     <p> <strong> --------- </strong>,-------------------------------------------</p>
     
          <h5 class="titulo"> <strong > Apresentação Clínica </strong> </h5>
     <p> <strong> -------------- </strong>  ----------------------------------------------------------------------------------------------------------------------------------</p>
    
    
              <h5 class="titulo"> <strong >Etiologia </strong> </h5>
     <p> <strong> --------------------- </strong> ----------------------------------------------------------------------------------------------------</p>

<hr>
    
    
                  <h5 class="titulo"> <strong >Imagem - Radiografia e Tomografia </strong> </h5>
     <p> <strong> ---------------------</strong> ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
     </p>
    
    
                      <h5 class="titulo"> <strong >Imagem - Ressonância Magnética</strong> </h5>
     <p> <strong> ---------------------</strong>    <p> ------------------------------------------------------------------------------------------------------------------------------------------------------------------------   </p>
    
    
                          <h5 class="titulo"> <strong >Imagem - Aspectos Gerais e entendo os métodos. </strong> </h5>
     <p> <strong>---------------------</strong> </p>
     <p>---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>

  <hr class="mb-5 mt-5">
  
       <h5 class="titulo"> <strong > Entendendo os achados de Imagem na Ressonância Magnética</strong> </h5>
        

     <!-- <p> <strong> Edema ósseo subcondral: </strong> Este achado é visualizado na sequência T2 da ressonância magnética com saturação de gordura ( "fat sat"), mas porquê ? É necessário a saturação de gordura pois sinal dela e do edema ( líquido intra celular ) na sequencia ponderada em T2 sem saturação de gordura é o mesmo ( Branco !!! ) . Então quando retiramos o sinal da gordura, ( lembre-se que a medular óssea é gordura!!! ) ela fica "preta" e assim conseguimos isolar o sinal do líquido ( Branco ). </p>

     <p>Portanto na sequência T2 com saturação de gordura o sinal do tecido celular subcutâneo e do osso é preto, ou seja o sinal foi "saturado".<em> Aspecto que significa que o sinal foi retirado e portanto tem coloração preta/escura.</em>. Como o sinal da gordura foi retirado ("saturado") conseguimos isolar o sinal do líquido e assim fazer o diangótico de edema ósseo.</p>
           <p>
     Em resumo a técnica de saturação de gordura tem por objetivo deixar tudo o que é gordura escuro / preto e o sinal do líquido/edema "Branco / alto sinal" para que assim possamos encontrar as alterações do exame.
     </p>
     <p>No nosso dia a dia as sequencias que tem saturação de gordura podem ter os seguintes prefixos ou sufixos: SPIR, STIR, DIXON e FAT-SAT</p> -->
<p>---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
     
     
       
       <hr class="mb-5 mt-5">
                              <h5 class="titulo"> <strong >Referências: </strong> </h5>
     <p> <a href="https://www.ajronline.org/doi/10.2214/ajr.147.1.67">Avascular necrosis of the hip: comparison of MR, CT, and scintigraphy
MD Mitchell, HL Kundel, ME Steinberg, HY Kressel, A Alavi and L Axel Show less
Read More: https://www.ajronline.org/doi/10.2214/ajr.147.1.67</a>
       </p>
       
            <p> <a href="https://www.ajronline.org/doi/10.2214/ajr.180.2.1800363">    Subchondral Fractures in Osteonecrosis of the Femoral Head: Comparison of Radiography, CT, and MR Imaging
Kathryn Stevens1, Caroline Tao1, Shi-Uk Lee1, Natalie Salem1, Jan Vandevenne1, Calise Cheng1, Gesa Neumann2, Alexandre Valentin-Opran3 and Philipp Lang2
Read More: https://www.ajronline.org/doi/10.2214/ajr.180.2.1800363
</a>      
      </p>
      
      <p><a href="https://pubs.rsna.org/doi/full/10.1148/rg.344140019"> From the Radiologic Pathology Archives Imaging of Osteonecrosis: Radiologic-Pathologic Correlation
Mark D. Murphey , Kristopher L. Foreman, Mary K. Klassen-Fischer, Michael G. Fox, Ellen M. Chung, Mark J. Kransdorf</a></p>

    
    </div>
    
    
    
    

    
<!--     //////////////////////////////////////////////////
    COLUNA 2 -->
    
    
    
    
    
    <div class="col-sm-12 col-md-2 col-lg-3 " >
      <h6 class="texto mb-3 p-2">Imagens </h6>

      <a href="https://pubs.rsna.org/na101/home/literatum/publisher/rsna/journals/content/radiographics/2014/rg.2014.34.issue-4/rg.344140019/20141105/images/large/rg.344140019.fig1b.jpeg" data-lightbox="image-1" data-title="My caption"><img class="img-fluid img-thumbnail" src="https://pubs.rsna.org/na101/home/literatum/publisher/rsna/journals/content/radiographics/2014/rg.2014.34.issue-4/rg.344140019/20141105/images/large/rg.344140019.fig1b.jpeg" alt=""></a>

      <hr>
      
      <a href="https://pubs.rsna.org/na101/home/literatum/publisher/rsna/journals/content/radiographics/2014/rg.2014.34.issue-4/rg.344140019/20141105/images/medium/rg.344140019.fig1c.gif" data-lightbox="image-1" data-title="My caption"><img class="img-fluid img-thumbnail" src="https://pubs.rsna.org/na101/home/literatum/publisher/rsna/journals/content/radiographics/2014/rg.2014.34.issue-4/rg.344140019/20141105/images/medium/rg.344140019.fig1c.gif" alt=""></a>

     
      

    </div>
  </div>

</div>
  
</div>


<%- include("footer") %>